{% extends "base.njk" %}

{% block title %}Cracked{% endblock %}

{% block content %}

<table>
    <tr>
        <td>#</td>
        <td>Usuario</td>
        <td>Puntos</td>
        <td>Hash</td>
    </tr>

    {% for entry in cracked %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ entry.username }}</td>
        <td>{{ entry.points }}</td>
        <td>{{ entry.cracked }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}